# Core
pandas
numpy
pyarrow
fastparquet

# NLP / Scoring
spacy
nltk
vaderSentiment

# Deep Learning
torch
transformers
scikit-learn
accelerate

# Visualization
matplotlib
seaborn
jupyter

# Data
datasets
huggingface_hub
